@model BluLogistics.Entitys.EditorialesView

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle</h1>

<div>
    <h4>Editorial</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sede)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sede)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EditorialesID">Modificar</a> |
    <a asp-action="Index">Volver</a>
</div>
